/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --main-title-color:#ffc2e6;
  --title-decor: #ff8dcb;
  --hover-btn-color: rgba(50, 49, 45, 0.4);
}

.theme-light .page .header__decor-element-dark-theme {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root.theme-light {
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --main-title-color:#ffc2e6;
    --title-decor: #ff8dcb;
    --hover-btn-color: rgba(50, 49, 45, 0.4);
  }
}
